In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Muisne,EC,2021-10-04 15:21:36,0.6000,-80.0333,80.71,79,99,11.30
1,1,Folldal,NO,2021-10-04 15:21:36,62.1325,9.9968,47.70,76,31,15.12
2,2,New Norfolk,AU,2021-10-04 15:21:36,-42.7826,147.0587,49.50,71,20,2.10
3,3,Ushuaia,AR,2021-10-04 15:20:06,-54.8000,-68.3000,44.22,65,40,27.63
4,4,San Patricio,US,2021-10-04 15:18:39,28.0170,-97.5169,84.29,71,98,8.32

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Muisne,EC,2021-10-04 15:21:36,0.6000,-80.0333,80.71,79,99,11.30
4,4,San Patricio,US,2021-10-04 15:18:39,28.0170,-97.5169,84.29,71,98,8.32
8,8,Teodoro Sampaio,BR,2021-10-04 15:21:37,-22.5325,-52.1675,79.99,71,100,6.20
9,9,Cayenne,GF,2021-10-04 15:21:38,4.9333,-52.3333,89.64,71,75,5.01
12,12,Victoria,HK,2021-10-04 15:20:30,22.2855,114.1577,87.33,69,2,1.01
22,22,Cabo San Lucas,MX,2021-10-04 15:17:04,22.8909,-109.9124,84.51,72,20,3.44
28,28,Gizo,SB,2021-10-04 15:20:53,-8.1030,156.8419,81.37,81,91,9.82
32,32,Kapaa,US,2021-10-04 15:21:42,22.0752,-159.3190,75.52,83,90,1.01
39,39,Lagunillas,VE,2021-10-04 15:21:44,10.1301,-71.2595,86.22,69,100,6.73
43,43,Pemangkat,ID,2021-10-04 15:21:45,1.1667,108.9667,80.69,80,100,8.01

In [16]:
preferred_cities_df.count()

City_ID       187
City          187
Country       187
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Muisne      EC     80.71   0.6000  -80.0333
4      San Patricio      US     84.29  28.0170  -97.5169
8   Teodoro Sampaio      BR     79.99 -22.5325  -52.1675
9           Cayenne      GF     89.64   4.9333  -52.3333
12         Victoria      HK     87.33  22.2855  114.1577
22   Cabo San Lucas      MX     84.51  22.8909 -109.9124
28             Gizo      SB     81.37  -8.1030  156.8419
32            Kapaa      US     75.52  22.0752 -159.3190
39       Lagunillas      VE     86.22  10.1301  -71.2595
43        Pemangkat      ID     80.69   1.1667  108.9667

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Muisne,EC,80.71,0.6000,-80.0333,Quinta Samay
4,San Patricio,US,84.29,28.0170,-97.5169,"Motel 6 Sinton, TX"
8,Teodoro Sampaio,BR,79.99,-22.5325,-52.1675,MINI HOTEL
9,Cayenne,GF,89.64,4.9333,-52.3333,Hôtel Le Dronmi
12,Victoria,HK,87.33,22.2855,114.1577,Mini Hotel Central
22,Cabo San Lucas,MX,84.51,22.8909,-109.9124,Hotel Tesoro Los Cabos
28,Gizo,SB,81.37,-8.1030,156.8419,Imagination Island
32,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
39,Lagunillas,VE,86.22,10.1301,-71.2595,Casa de Beatriz y Chucho
43,Pemangkat,ID,80.69,1.1667,108.9667,Ramah Kost KITA

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))